@model IEnumerable<NetCoreStudent.Models.Student>

<h1>
    Lista de alunos
</h1>

<table class="table striped">
    <thead>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            E-mail
        </th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Email
                </td>
            </tr>
        }
    </tbody>
</table>